<!DOCTYPE html>
<html lang="ru">

<head>
    {% block title %}
        <meta charset="UTF-8">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Викторина</title>
        {% endif %}
    {% endblock %}
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            {% for categorie in categories %}
                <li><a href="{{ categorie['url'] }}"> {{ categorie['name'] }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer>
    Подвал сайта
</footer>
</body>

</html>