{% extends 'base.html' %}
{{ super() }}
{% block main %}
    {% for msg in get_flashed_messages() %}
    <div class="wrong">{{ msg }}</div>
    {% endfor %}
    <p>{{ question }}</p>
    <form action="questions" method="post">
        {% for answer in answers %}
            <label>
                <input type="radio" name="answer" value="{{ answer }}" checked> {{ answer }}
            </label>
            <br>
        {% endfor %}
        <label>
            <input type="submit" value="Ответить">
        </label>
    </form>
{% endblock %}